# ----------------------------------------
# 1. Dependencias y archivos generados por Node/NPM
# ----------------------------------------

# Carpeta de dependencias (nunca debe subirse)
node_modules/

# Archivos de logs y depuración
npm-debug.log
yarn-error.log

# Variables de entorno y archivos sensibles (si los usas)
.env

# ----------------------------------------
# 2. Archivos generados por Tailwind CLI
# ----------------------------------------

# Archivo CSS de salida/compilación. 
# Esto asume que el archivo generado se llama 'output.css'
# y está dentro de la carpeta 'src'.
#src/output.css

# ----------------------------------------
# 3. Configuraciones y archivos del SO
# ----------------------------------------

# Archivos de Mac OS
.DS_Store

# Archivos de Visual Studio Code
.vscode/

# Ignorar archivos de paquetes
package-lock.json